*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    background-color: #f56d2d;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 2em;
}
h1{
    margin-left: 2em;
    color: #ffffff;
    text-shadow: .3px .5px .5px rgb(0, 0, 0);
}
h2{
    margin-left: 4em;
    color: #dadada;
    text-shadow: .3px .5px .3px rgb(0, 0, 161);
}
h3{
    color: #045194;
}
a{
    color: #ffd18a;
    text-shadow: .3px .3px .3px rgb(41, 58, 116);
}
body{
    margin-right: 10%;
    margin-left: 10%;
    background-color: #ffd18a;
    font-family: Arial, Helvetica, sans-serif;
}
/* Formatação das class */

.conheca{
    padding: 10px;
    background-color:#fdb873;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.banner{
    background-image: url(hotimg/BG.webp);
    border: black 1px outset;
    justify-items: left;
    display: block;
    margin-bottom: 10px;
}
.square{
    justify-content: flex-start;
    background-color: #f88644;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: solid 1px #000000;
    border-radius: 1em;

}
.square:hover{
    transform: scale(1.1);
    transition: all 0.4s linear;
}
.sobre{
    height: 10em;
    width: 30em;
    flex-basis: 30%;
    margin-right: 10px;
}
/* class sobre */
.sobre h3{
    margin-bottom: 10px;
}
.sobre p{
    margin-bottom: 3em;
}
.sobre a{
    margin-left: 12em
}
/* class voce */
.voce{
    margin-right: 10px;
    height: 10em;
    width: 30em;
    flex-basis: 30%;
}
.voce h3{
    margin-bottom: 10px;
}
.voce p{
    margin-bottom: 2em;
}
.voce a{
    margin-left: 12em
}
/* class empresa */
.empresa{
    margin-bottom: 10px;
    height: 10em;
    width: 30em;
    flex-basis: 30%;
}
.empresa h3{
    margin-bottom: 10px;
}
.empresa p{
    margin-bottom: 1em;
}
.empresa a{
    margin-left: 12em
}
/* class contato */
.contato{
    height: 10em;
    width: 30em;
    flex-basis: 30%;
    margin-left: 41em;
}
.contato h3{
    margin-bottom: 10px;
}
.contato p{
    margin-bottom: 2em;
}
.contato a{
    margin-left: 12em
}